@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf") format("opentype");
    font-weight: normal;

    font-family: "Euclid";
    src: url("../fontes/Euclid\ Circular\ B\ Bold.ttf")format("truetype");

    font-family: "Euclide";
    src: url("../fontes/Euclid\ Circular\ A\ Regular.ttf") format("trutype");

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ebede480;
    margin: 0px;
    text-align: justify;
}



p {
    margin: 15px 0px 15px 0px;
    text-indent: 1.5em;
    line-height: 1.6em;
}
:root {
    --cor1: #3dda83;
    --cor2: #4385f4;
    --cor3: #3dda844f;
    --cor4: #0c6d38;
    

    --padrao: arial, verdana, helvetica, sans-serif;
    --destaque:'Roboto', sans-serif;
    --android: "Android", cursive;
    --euclid: "Euclid", cursive;
    --euclide: "Euclide", cursive;
}



header{
    background-color: var(--cor1);
    color: rgb(0, 0, 0);
    height: 120px;
    text-align: center;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, var(--cor1), #0c6d38
    );
}

header > h1{
    font-family: var(--euclide);
    text-shadow: 1px 1px 0px #073042;
    color: white;
    font-weight: normal;
}
 header > p{
    padding-top: 
    20px;
    margin: auto;
    max-width: 400px;
    font-family: var(--destaque);
    color: white;
 }

nav{
    background-color: var(--cor4);
    font-family: var(--destaque);
    padding: 10px;
    text-align: center;
    
    
    
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    

}

nav > a:hover{
    color: white;
   
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21);
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--destaque);
}

main h1{
    color: var(--cor4);
    font-family: var(--euclide);
    font-size: 1.em;
}

main h2{
    color: var(--cor2);
    font-family: var(--euclide)
}

main h3{
    color: white;
    background-color: var(--cor2);
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px var(--cor4);
}

main img{
    display: block;
    margin: auto;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    font-family: var(--euclide);   
}

main a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

iframe{
    display: block;
    margin: auto;
}
footer{
    background-color: var(--cor4);
    color: white;
    padding: 1px;
    margin: 0px;
    text-align: center;
}
/*List style type para colocar objeto no a frente da lista ("27A1 é a seta") 00A0 é espaço, o memso que &nbsp  */
ul {
    list-style-type: "\27A1\00A0\00A0";
    padding-left: 20px;
    list-style-position: inside;
    columns: 2;
}

aside{
    background-color:var(--cor3);
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    font-family: var(--destaque);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.089);
    
}
strong {
    color: var(--cor1);
    font-weight: bold;
    font-family: var(--euclide);
    
}

footer a{
text-decoration: none;
font-family: var(--euclide);
color: white;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

/*
centralizar vídeo de youtube ou vimeo usando position relative e absolute
*/
.video{
    background-color: var(--cor4);
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-bottom: 50%;
    position: relative;
  
}

.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}


